<div class="col-xs-12">
	<span><i class="fa fa-send fa-lg"></i></span>&nbsp;
	<span class="language en-GB"><a href='{{root}}{{actor.url}}'>{{actor.name}}</a> launched the <a href='{{root}}{{object.url}}'>{{object.name}}</a></span>
	<hr style="margin-top:10px; margin-bottom:10px;">
</div>

