<div class="col-xs-12">
	<span><i class="fa fa-calendar fa-lg"></i></span>&nbsp;
	{{#actor.image.gravatar}}
		<span><img class="feed-item-image img-circle" src="{{actor.image.avatar}}"></span>
	{{/actor.image.gravatar}}
	{{^actor.image.gravatar}}
		<span><img class="feed-item-image img-circle" src="{{root}}{{actor.image.avatar}}"></span>
	{{/actor.image.gravatar}}
	<span class="language en-GB"><a href='{{root}}{{actor.url}}'>{{actor.name}}</a> extended the <a href='{{root}}{{target.url}}'>{{target.name}}</a> till {{object.newenddate}}</span>
	<hr style="margin-top:10px; margin-bottom:10px;">
</div>
