<div class="col-xs-12">
	<span><i class="fa fa-money fa-lg"></i></span>
	<span class="language en-GB"><a href='{{root}}{{actor.url}}'>{{actor.name}}</a> contributed  {{object.amount}} towards <a href='{{root}}{{target.url}}'>{{target.name}}</a></span>
	<hr style="margin-top:10px; margin-bottom:10px;">
</div>
