<div class="col-xs-12 col-sm-12 col-lg-12">
	<span><i class="fa fa-video-camera fa-lg"></i></span>&nbsp;
	<span><img class="feed-item-image" src="{{actor.image.avatar}}" /></span>
	<span><a href='{{actor.url}}'>{{actor.name}}</a> added {{object.count}} video(s) to the campaign</span>
	<div class="feed-item-video-upload">
		{{#object.url}}
		<video width="100%" controls>
		  <source src="{{.}}" type="video/mp4">
		</video>
		{{/object.url}}
	</div>
	<hr />
</div>
