<div class="feed-item-cover campaigns">
	<div class="date col-xs-3 col-sm-2">{{created_day}} </br> {{created_date_month}}</div>
	<div class="feed-item col-xs-9 col-sm-10">
		<div class="feed-item-inner">
			<span><i class="fa fa-money fa-lg"></i></span>
			{{#actor.image.gravatar}}
				<span><img class="feed-item-image" src="{{actor.image.avatar}}" /></span>
			{{/actor.image.gravatar}}
			{{^actor.image.gravatar}}
				<span><img class="feed-item-image" src="{{root}}{{actor.image.avatar}}" /></span>
			{{/actor.image.gravatar}}
			<span class="language en-GB"><a href='{{root}}{{actor.url}}'>{{actor.name}}</a> invested {{object.amount}} to the campaign</span>
			<hr />
		</div>
	</div>
</div>
